.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo PRÁCTICAS Y APLICACIONES DE AGRICULTURA ECOLÓGICA
            h1.curso-titulo La Nutrición Vegetal en la Agricultura Ecológica

            .brand-line-primary

            p(style="color: #FFFFFF").curso-descripcion A través de este objeto virtual de aprendizaje, el estudiante adquirirá conocimientos relacionados con el papel que cumple el suelo y los biofertilizantes en el crecimiento y desarrollo de las plantas.

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.png", style="max-width: 80%")