include ../mixins/functions

+pageHeader('La Nutrición Vegetal en la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#fertilizacion

    h1 2. Fertilización ecológica

    .brand-line-primary

    .row-12.my-5
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fCS0WEcYbmo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

br
br

.container#tecnicas

    h2 2.1 Técnicas y Estrategias

    .brand-line-primary

    .row-12.my-5
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fCS0WEcYbmo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

br
br

.container#componentes

    h2 2.2 Componentes

    .brand-line-primary

    .row-12.my-5

        p Los componentes principales de los fertilizantes orgánicos son los macronutrientes, nitrógeno, fósforo y potasio. Algunas de estas sustancias pueden contener otros macronutrientes como: calcio, magnesio y azufre. En cuanto los micronutrientes que con mayor frecuencia se encuentran en este tipo de sustancias están: boro, cobre, hierro, manganeso, molibdeno y zinc, todos ellos muy importantes para el crecimiento, desarrollo y producción de las plantas.

        a.m-0.p-0(href="http://www.fao.org/3/a-x4781s.pdf", target="_blank") http://www.fao.org/3/a-x4781s.pdf