include ../mixins/functions

+pageHeader('La Nutrición Vegetal en la Agricultura Ecológica', 'assets/images/header/header_media.svg')

.container#programa

    .header-ecored

        h1 3. Programa de fertilización ecológica

    .row.mx-0

        .col-12

            p La nutrición vegetal se basa en primera medida en el agua, el oxígeno, el hidrógeno y el carbón que las plantas toman del suelo, y en segundo lugar se encuentran los nutrientes minerales que las plantas absorber del suelo para completar todos sus requerimientos nutricionales. Son precisamente los fertilizantes y abonos las sustancias encargadas de proporcionar y/o devolver al suelo esos nutrientes minerales que los cultivos requieren para su normal crecimiento, desarrollo y producción.

            p Por lo anterior, resulta necesario dentro del manejo agronómico de los cultivos, establecer un plan de fertilización que tenga en cuenta no sólo los requerimientos nutricionales de cada especie sino también la disponibilidad de nutrientes en el suelo.

            p Los siguientes aspectos constituye la información básica que se requiere como punto de partida para la elaboración de un programa o plan de fertilización ecológica:

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img7.png", style="width: 70%")
    
    .row.mx-0

        .col-12

            br

            p Es importante tener en cuenta las necesidades nutricionales de cada especie vegetal, ya que son demasiado variables y están directamente relacionadas con aspectos como: tipo de planta, es decir, hierba, arbusto o árbol; variedad, condiciones del suelo y del clima, disponibilidad de agua, etapa de desarrollo del cultivo y condiciones sanitarias entre otras. 

            p  Otro factor importante a tener en cuenta en la elaboración de un plan de fertilización es el conjunto de salidas de los nutrientes del sistema, es decir, la totalidad de nutrientes que una cantidad determinada de producción extrae del suelo, la cual se encuentra debidamente documentada en bibliografía para las diferentes especies.

            a(href="https://www.agroecologia.net/recursos/publicaciones/manuales-tecnicos/manual-fertilizacion-fpomares.pdf", target="_blank") https://www.agroecologia.net/recursos/publicaciones/manuales-tecnicos/manual-fertilizacion-fpomares.pdf

br#calculo

.container

    .header-ecored

        h2 3.1 Cálculo de las necesidades de los elementos

    .row.mx-0

        .col-12

            p En todo plan de fertilización es muy importante calcular la cantidad de nitrógeno, fósforo y potasio que requiere el cultivo, para lo cual se siguen los siguientes pasos:

    .row.mx-0

        .header-ecored
    
            h3 3.1.1 Cálculo de las necesidades de Nitrógeno

        .row.mx-0

            .col-12

                p Para calcular las necesidades de Nitrógeno se debe realizar un balance entre las salidas y las entradas de este elemento al sistema agrícola. Teniendo en cuenta lo siguiente:

            .col-12.py-4.text-center

                img(src="assets/images/pages/img8.png", style="width: 50%")
        
            .col-12

                p Como se aprecia en el diagrama, las salidas de Nitrógeno	son muchas y por diferentes causas, por lo tanto, la necesidad de incorporar abonos orgánicos que son ricos en este nutriente para equilibrar el balance, y de esta manera no sólo brindar buenas condiciones de nutrición para los cultivos, sino también, mejorar las propiedades del suelo.

        .header-ecored

            h3 3.1.2 Cálculo de las necesidades de Fósforo

        .row.mx-0

            .col-12

                p Otra ventaja de la aplicación periódica de fertilizantes orgánicos como estiércoles o compost, es que en estas sustancias la relación P/N suele ser mucho más alta que la que se extrae del sistema a través de los productos cosechados. 

                p No obstante, en el caso de que se presenten deficiencias de fósforo, lo cual puede ocurrir en el periodo de conversión de agricultura tradicional a agricultura ecológica, es necesario determinar la cantidad del elemento necesaria para corregir la deficiencia, y hacerlo a través de aplicaciones de abonos orgánicos en un periodo de varios años.

        .header-ecored

            h3 3.1.3 Cálculo de las necesidades de Potasio

        .row.mx-0

            .col-12

                p Con este nutriente, sucede algo similar a lo explicado anteriormente con el fósforo. Además, la mayoría de los suelos de uso agrícola poseen grandes reservas de potasio, por lo tanto, la respuesta de los cultivos a la aplicación de fertilizantes ricos en este elemento, es muy poca.

                p Algunos cultivos como las hortalizas, por ejemplo, son muy exigentes en potasio, tanto así, que las extracciones de este elemento generalmente son superiores a las de Nitrógeno. De allí la importancia de realizar aportes a través de abonos orgánicos para que el suelo conserve la capacidad de suministrar este nutriente a través del tiempo.
        
br#dosis

.container

    .header-ecored

        h2 3.2 Dosis de Enmiendas y Abonos Orgánicos

    .row.mx-0.align-items-center

        .col-12.col-md-6.my-3.text-center

            img(src="assets/images/pages/img9.png", style="width: 80%")

        .col-12.col-md-6

            p La cantidad requerida de productos orgánicos como compost o estiércoles entre otros, para un cultivo, se obtienen a través del correspondiente balance de humus. También se puede conseguir la cantidad de producto a aplicar por medio del balance de las necesidades de cultivo en cuanto a nitrógeno, fósforo y potasio y las cantidades que aporta el producto orgánico a incorporar al suelo.

    .row.mx-0

        .col-12

            p La cantidad requerida de productos orgánicos como compost o estiércoles entre otros, para un cultivo, se obtienen a través del correspondiente balance de humus. También se puede conseguir la cantidad de producto a aplicar por medio del balance de las necesidades de cultivo en cuanto a nitrógeno, fósforo y potasio y las cantidades que aporta el producto orgánico a incorporar al suelo.

            p Productos orgánicos como gallinaza, sangre desecada, harina de pescado, etc., Tienen un alto contenido de nitrógeno, por lo tanto, pueden ser utilizados para cubrir el déficit de elementos nutritivos de algunas enmiendas orgánicas en periodos en el que los cultivos tienen altas exigencias nutritivas, como, por ejemplo, en llenado de frutos. 

            p Cuando sea necesario incorporar el suelo fertilizante minerales, se deben analizar aspectos como: solubilidad y certificación para la agricultura ecológica entre otros.

br#evaluacion

.container

    .header-ecored

        h2 3.3 Evaluación de un programa de fertilización ecológica

    .row.mx-0

        .col-12

            p El éxito de un programa de fertilización ecológica depende de la actividad de los microorganismos del suelo para liberar los nutrientes de forma progresiva y que éstos sean aprovechados por los cultivos. Por lo tanto, evaluar un programa de fertilización ecológica, resulta ser más complicado que la evaluación de un programa de fertilización convencional, donde se aplican nutrientes para que las plantas los asimile sin tener en cuenta factores como temperatura y humedad del suelo, los cuales sí ejercen injerencia y son tenidos en cuenta en el proceso ecológico.

            p La evaluación de un plan de fertilización debe realizarse analizando factores como los siguientes:

        .col-12.text-center

            img(src="assets/images/pages/img10.png", style="width: 60%")