include ../mixins/functions

+pageHeader('La Nutrición Vegetal en la Agricultura Ecológica', 'assets/images/header/header_media.svg')

.container#algunos

    .header-ecored

        h1 4. Algunos fertilizantes orgánicos

    .row.mx-0

        .col-12

            p Como ya se ha visto, por abono o fertilizante orgánico, se entiende un grupo muy amplio de productos o sustancias que incluyen estiércoles frescos, solos o en mezclas, estiércoles compostados, purines, compost de residuos vegetales o de residuos agroindustriales, humus de lombriz, abonos verdes, biopreparados, etc. 

            p Se profundizará en el compost:

br#compost

.container

    .header-ecored

        h2 4.1 Compost o mantillo

    .row.mx-0

        .col-12

            p Dentro de los abonos orgánicos el compost es muy importante porque se puede realizar con desechos de diferentes animales (boñiga, gallinaza, porquinaza, conejina, etc.), con desechos vegetales de cosechas (pulpa de café, vástago de plátano, hojas de hortalizas, etc.), combinar las anteriores, residuos de cocina y residuos agroindustriales, entre otros. 

            p El compostaje de la transformación aeróbica de restos orgánicos, que, bajo condiciones adecuadas de aire, humedad, temperatura y presencia de microorganismos, produce un material homogéneo que es perfectamente asimilable por los vegetales.

            p Desde tiempos remotos los agricultores han utilizado el compost como un fertilizante para sus cultivos que además les permite utilizar de manera higiénica los estiércoles de los animales de la finca, confiriéndole a los suelos características como las siguientes:

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img11.png", style="width: 70%")

br#fases

.container

    .header-ecored

        h2 4.2 Fases en el Proceso de Compost

    .row.mx-0

        .col-12

            p En el proceso de descomposición de la materia orgánica inicial, del carbono y el nitrógeno presentes, ocurren variaciones de temperatura que permiten diferenciar cuatro etapas principales en el proceso de compostaje:

        .col-12.text-center

            img(src="assets/images/pages/img12.png", style="width: 60%").img-fluid
    
    .row.mx-0.justify-content-md-center

        .col-8

            a.m-0.p-0(href="https://www.juntadeandalucia.es/export/drupaljda/tecnica_para_nutricion.pdf", target="_blank") https://www.juntadeandalucia.es/export/drupaljda/tecnica_para_nutricion.pdf

br#elementos

.container

    .header-ecored

        h2 4.3 Elementos a tener en cuenta en el Compostaje

    .row.mx-0

        .col-12

            p El Compostaje es un proceso realizado por microorganismos, por lo tanto, es importante tener en cuenta y monitorear durante todo su desarrollo diferentes factores que afectan su crecimiento y reproducción, buscando que se mantengan dentro de unos rangos óptimos, para conseguir la producción de un compost con las características requeridas que cumpla con su función tanto en el suelo, como en el desarrollo de los cultivos. Los principales son:

        .col-12.text-center

            img(src="assets/images/pages/img13.png", style="width: 50%").img-fluid 