include ../mixins/functions

+pageHeader('La Nutrición Vegetal en la Agricultura Ecológica', 'assets/images/header/header_media.svg')

.container#impacto

    .header-ecored

        h1 Introducción

    .row.mx-0

        .col-12

            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/UALQDw4FasA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                .card-body

                    .card-text

                        .row

                            .col-12

                                p La degradación del suelo causada por malas prácticas agrícolas, ha creado la necesidad de realizar procesos de recuperación basados en la agricultura ecológica u orgánica, donde el suelo y su contenido de materia orgánica son vistos como el pilar fundamental de la producción.

                                br

                                p Dentro de las prácticas y aplicaciones de la agricultura ecológica, al suelo se le incorporan sustancias que no únicamente proporcionan elementos minerales, sino que también benefician sus propiedades físicas y microbiológicas, para brindar a este recurso un manejo sostenible, lo cual se verá reflejado no sólo en el volumen de producción, sino también en la calidad de los productos y en la resistencia de las plantas a plagas y a enfermedades.

                                br

                                p La utilización de abonos orgánicos es la base del manejo ecológico de los suelos, puesto que esos productos tienen propiedades que hacen que el recurso sea más productivo a través del tiempo.

                                br

                                p Resulta importante dentro de este tipo de manejo, el uso de biopreparados, que son productos que le confieren a la planta como tal y al suelo, características deseables para lograr altas producciones, de buena calidad y estableces.